.st-emotion-cache-13k62yr {
    min-height: 20vh;
    background-image: url('https://www.istockphoto.com/photo/transparent-plastic-film-wrap-overlay-texture-background-gm1472185866-502605680?utm_campaign=srp_photos_top&utm_content=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fpng-background&utm_medium=affiliate&utm_source=unsplash&utm_term=png+background%3A%3A%3A');
    overflow: hidden;  
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}